<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Meal Finder</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Meal Finder</h1>

        <!-- search meal -->
        include ./../modules/search-box/index.pug
      </div>
    </header>

    <!-- Random Meal -->


    <!-- Category -->
    include ./../modules/category/index.pug

    include ./../partials/miniCard_mixin/index.pug
    - const propsarr=[{img:"assets/images/meal01.png",colorClass:"minicard__grad_yellow",caption:"Vegan Chocolate Cake"},{img:"assets/images/meal01.png",colorClass:"minicard__grad_white",caption:"Vegan Chocolate Cake",label:"Beef"}]

    div(style="width:100%; display:flex; justify-content:center; align-items:center; padding:1rem; height:150px")
      for elem in propsarr
        div(style="width:50%;height:inherit")
          +minicard(elem)



  </body>
</html>
