<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Meal Finder</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Meal Finder</h1>

        <!-- search meal -->
        include ./../modules/search-box/index.pug
      </div>
    </header>

    <!-- Random Meal -->
    <div class="randomMeal">
      <div class="container">
        <h2 class="randomMeal__heading title">Random Meal</h2>
        <div class="randomMeal__img">
          img(src="https://www.themealdb.com/images/media/meals/urzj1d1587670726.jpg",alt="hamburger")

          <div class="randomMeal__img__info">
            <div class="randomMeal__img__info__name">Big Mac</div>
            <button class="randomMeal__img__info__category btn--primary">
              Beef
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Category -->
    include ./../modules/category/index.pug
    
  </body>
</html>
