<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Meal Finder</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Meal Finder</h1>

        <!-- search meal -->
        include ./../modules/search-box/index.pug
      </div>
    </header>

    <!-- Random Meal -->
    include ./../modules/carousel/index.pug
    
    <!-- Category -->
    include ./../modules/category/index.pug
    
    //- </div>

    //- include ./../partials/miniCard_mixin/index.pug
    //- - const propsarr=[{img:"assets/images/meal01.png",colorClass:"minicard__grad_yellow",caption:"Vegan Chocolate Cake"},{img:"assets/images/meal02.png",colorClass:"minicard__grad_yellow",caption:"Vegan Chocolate Cake"},{img:"assets/images/meal03.png",colorClass:"minicard__grad_yellow",caption:"Vegan Chocolate Cake"}]
    //- //- ,{img:"assets/images/meal01.png",colorClass:"minicard__grad_white",caption:"Vegan Chocolate Cake",label:"Beef"}]

    //- div(style="width:100%; display:flex; flex-wrap:wrap; align-items:center; padding:1rem; height:auto")
    //-   for elem in propsarr
    //-     div(style="width:50%;height:inherit")
    //-       +minicard(elem)

 


    script(src="js/vendors/siema.min.js")
    script(src="js/main.js")
    script(src="js/modules/category.js")
    script(src="js/modules/siemaUpdate.js")
    
    script(src="js/modules/randomMeal.js")
    
  
  </body>
</html>
