<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/third-page.css" />
    <title>Meal Finder</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Meal Finder</h1>

        <!-- search meal -->
        include ./../modules/search-box/index.pug
      </div>
    </header>

   
   
    .container
      <h2 class="title">Spicy Arrabiata Penne</h2>
      .food__img
      h2.title
        |Category :
      h5
      h2.title
        |Area :
      h2.title
        |Ingredient :
      h2.title
        |Instructions :
      p
        |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo explicabo optio consectetur iste est necessitatibus unde repellendus deserunt sed nobis, accusamus itaque voluptate aliquam debitis? Sit commodi repudiandae amet dolore omnis sequi quia sed minus veniam, praesentium dolorem consectetur saepe facere, ab, accusantium animi deleniti. Assumenda libero aspernatur ab quibusdam.


      
    script(src="js/main.js")
  
  </body>
</html>
