@import "./font.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  min-width: 320px;
  max-width: 768px;
  margin: auto;
}

svg {
  fill: #6c6c6c;
  height: inherit;
  width: inherit;
}

:focus {
  outline: none;
}

.container {
  margin: 20px 14px 40px 14px;
}

img {
  width: 100%;
}

header {
  h1 {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

.title {
  margin-bottom: 20px;
  font-size: 18px;
}

.search {
  background: #f2f2f2;
  border-radius: 15px;
  height: 40px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    // padding: 0 6px;
    height: 24px;
    color: #6c6c6c;
  }

  &__input {
    background: transparent;
    border: none;
    color: #8c8c8c;
    width: 100%;
    padding: 8px;
    font-size: 12px;
  }

  &__advanced {
    width: 34px;
    height: 32px;
    padding: 5px 6px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 1px 3px 4px rgba($color: #000000, $alpha: 0.25);
    svg {
      width: 22px;
      height: 22px;
    }
  }
}

// randomMeal

.randomMeal {
  &__img {
    position: relative;

    img {
      border-radius: 10px;
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 30px;
      left: 0;
    }
  }
}

.category {
  &__list {
    display: flex;
    padding-left: 4px;

    &__item {
      width: 64px;
      height: 115px;
      margin-right: 20px;
      padding-top: 5px;
      background: #fff;
      border-radius: 30px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      &__name {
        color: #8c8c8c;
      }

      &__img {
        width: 75px;
        // margin-bottom: 10px;
      }
    }

    .selected {
      background: #ffd53c;
    }
  }
}
