// randomMeal

.randomMeal {
  &__img {
    position: relative;

    img {
      border-radius: 10px;
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 30px;
      left: 0;
    }
  }
}
