// randomMeal

.randomMeal {
  &__carousel {
    position: relative;
  }

  &__item {
    position: relative;

    // .gradient{
    //   background: url('https://www.themealdb.com/images/media/meals/9f4z6v1598734293.jpg') center center/cover;
    //   width: 100%;
    //   height: 100%;
    // }
  }
  &__img {
    // background: url("https://www.themealdb.com/images/media/meals/9f4z6v1598734293.jpg");
    // background: url("https://www.themealdb.com/images/media/meals/vussxq1511882648.jpg")
    //   no-repeat center center/cover;
    width: 100%;
    height: 50vh;
  }
  &__img::after {
    content: "";
    width: 100%;
    height: 100%;
    // background: linear-gradient(rgba(0, 0, 0, 0), #c4c4c4);
    background: linear-gradient(
      rgba(196, 196, 196, 0) 0,
      rgba(225, 225, 225, 0.4937) 65%,
      rgba(255, 255, 255, 0.77) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    bottom: 22px;
    left: 0;
    z-index: 10;
    font-size: 14px;
    font-weight: 700;
  }

  .container {
    position: relative;
  }

  .carousel__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: calc(50% - 15px);
  }
  .prev,
  .next {
    position: absolute;
    top: calc(50% - 15px);

    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .prev {
    left: 0.5rem;
  }
  .next {
    right: 0.5rem;
  }
}

// @media only screen and (min-width: 600px) {
//   .next {
//     border-radius: 50%;
//     text-align: center;
//     width: 80px;
//     height: 80px;
//     margin: 0 5px;
//     background-color: rgba(247, 23, 23, 0.7);
//   }
// }
