//- .randomMeal
//-   .container
//-     h2.randomMeal__heading.title
//-       |Random Meal
//-     .randomMeal__carousel
//-       .siema.mask
//-         .randomMeal__item
//-           .randomMeal__img
//-             img(src="https://www.themealdb.com/images/media/meals/9f4z6v1598734293.jpg",alt="hamburger")
//-           .gradient
//-             .randomMeal__info
//-               .randomMeal__name
//-                 p
//-                   |Big Mac
//-               .randomMeal__category.btn--primary
//-                 |Beef

<div class="randomMeal">
  <div class="container">
    <h2 class="title">Random Meal</h2>
    <div class="randomMeal__carousel">
      <div class="siemass mask">
        //- <div class="randomMeal__item">
        //-   <div class="randomMeal__img">
        //-     //- img(src="https://www.themealdb.com/images/media/meals/9f4z6v1598734293.jpg",alt="hamburger")
        //-   </div>

        //-   <div class="randomMeal__info">
        //-     <div><p>Big Mac</p></div>
        //-     <button class="randomMeal__category btn--primary">Beef</button>
        //-   </div>
        //- </div>
        
        //- <div class="randomMeal__item">
        //-   <div class="randomMeal__img">
        //-     //- img(src="https://www.themealdb.com/images/media/meals/9f4z6v1598734293.jpg",alt="hamburger")
        //-   </div>

        //-   <div class="randomMeal__info">
        //-     <div class="randomMeal__name"><p>Big Mac</p></div>
        //-     <button class="randomMeal__category btn--primary">Beef</button>
        //-   </div>
        //- </div>

        //- <div class="randomMeal__item">
        //-   <div class="randomMeal__img">
        //-     //- img(src="https://www.themealdb.com/images/media/meals/vussxq1511882648.jpg",alt="hamburger")
        //-   </div>
        //-   <div class="randomMeal__info">
        //-     <div><p>Big Mac</p></div>
        //-     <button class="btn--primary">Beef</button>
        //-   </div>
        //- </div>
      </div>
      <div class="carousel__nav">
        <button class="prev">
          <img id='prev' src="assets/images/nav_before.svg" alt="before" />
        </button>
        <button class="next">
          <img id='next' src="assets/images/nav_next.svg" alt="next" />
        </button>
      </div>
    </div>
  </div>
</div>
