<div class="randomMeal">
  <div class="container">
    <h2 class="title">Random Meal</h2>
    <div class="randomMeal__carousel">
      <div class="siemass mask">
      </div>
        <button class="prev">
          <img id='prev' src="assets/images/nav_before.svg" alt="before" />
        </button>
        <button class="next">
          <img id='next' src="assets/images/nav_next.svg" alt="next" />
        </button>
      //- <div class="carousel__nav">
      //- </div>
    </div>
  </div>
</div>
