.search {
  border-radius: 15px;
  height: 40px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  &__icon {
    // padding: 0 6px;
    height: 24px;
  }

  &__input {
    background: transparent;
    border: none;
    width: 100%;
    padding: 8px;
    font-size: 12px;
  }

  &__advanced {
    width: 34px;
    height: 32px;
    padding: 5px 6px;
    border-radius: 12px;
    box-shadow: 1px 3px 4px rgba($color: #000000, $alpha: 0.25);
    svg {
      width: 22px;
      height: 22px;
    }
  }
  .drop {
    // background: rgba(242, 242, 242, 0.8);

    @include color_set("background", map-get($colors, cl-sec-3), 0.8);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    padding: 0 1rem 1rem 1rem;
    position: absolute;
    z-index: 100;
    right: 10px;
    top: 110%;
    display: flex;
    flex-direction: column;
    &__item {
      width: 100%;
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
    &__svg {
      width: 22px;
      height: 22px;
    }
    &__txt {
      margin-right: 2rem;
      font-size: 18px;
    }
  }
}
