.search.bg-cl-sec-3
  .search__icon.font-cl-sec-1
    include ./../../../dist/assets/svgs/search.svg
  input(class="search__input font-cl-sec-2",type="text",placeholder="Search your meal ...")
  <!-- Search Result -->
.searchResult(style='display:none')
  .container
    h2.title#search__title
    .results(style='display:flex;flex-wrap:wrap')
  //- .search__advanced.bg-cl-sec-4
  //-   include ./../../../dist/assets/svgs/menu.svg
  //- .search__drop.drop
  //-   .drop__item
  //-     .drop__txt.font-cl-sec-5.
  //-       Meals by category
  //-     .drop__svg.fill-cl-sec-5
  //-       include ./../../../dist/assets/svgs/cat.svg
  //-   .drop__item
  //-     .drop__txt.font-cl-sec-5.
  //-       Meals by Area
  //-     .drop__svg.fill-cl-sec-5
  //-       include ./../../../dist/assets/svgs/location.svg
