<div class="search bg-cl-sec-3">
  <div class="search__icon font-cl-sec-1">
    include ./../../../dist/assets/svgs/search.svg
  </div>
  input(class="search__input font-cl-sec-2",type="text",placeholder="Search your meal ...")         
  <div class="search__advanced bg-cl-sec-4">
    include ./../../../dist/assets/svgs/menu.svg
  </div>
</div>