.search.bg-cl-sec-3
  .search__icon.font-cl-sec-1
    include ./../../../dist/assets/svgs/search.svg
  input(class="search__input font-cl-sec-2",type="text",placeholder="Search your meal ...")
  <!-- Search Result -->
.searchResult(style='display:none')
  h2.title#search__title
  .results(style='display:flex;flex-wrap:wrap')