.minicard {
  padding: 5px 0;
  width: 100%;
  height: 100%;
  // height: 100vw;
  &__img {
    position: relative;
    width: 100%;
    height: inherit;

    overflow: hidden;
    // monix changed
    height: 175px;
    // @include border-radius(15px, 15px, 15px, 15px);
    //
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center center;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include border-radius(15px, 15px, 15px, 15px);
  }
  &__label {
    @include border-radius(15px, 15px, 15px, 15px);
    position: absolute;
    bottom: 5%;
    left: 5%;

    font-size: 14px;
    font-weight: bold;

    padding: 1px 10px;

    background-color: map-get($colors, cl-primary);
  }
  &__txt {
    font-size: 12px;
    font-weight: 700;
    // monix added
    // overflow: hidden;
    // height: 16px;
    //
  }
  &__grad {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__grad_yellow {
    background: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(201, 201, 201, 0.0822913) 56.67%,
      rgba(255, 213, 60, 0.55) 100%
    );
  }
  &__grad_white {
    background: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(201, 201, 201, 0.0822913) 56.67%,
      rgba(255, 255, 255, 0.69) 100%
    );
  }
}
