.category {
  &__list {
    // display: flex;
    padding-left: 4px;
    overflow: hidden;
    margin-bottom: 25px;
  }

  &__item {
    width: 64px;
    height: 115px;
    margin-right: 20px;
    padding-top: 5px;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12px;
  }

  &__img {
    width: 75px;
    // margin-bottom: 10px;
  }
}

.list__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
}

.list__item {
  width: 47%;
  height: inherit;
}
@media (min-width: 500px) {
  .list__item {
    width: 32%;
  }
}
@media (min-width: 768px) {
  .list__item {
    width: 24%;
  }
}
