.category {
  &__list {
    // display: flex;
    padding-left: 4px;
    overflow: hidden;
    margin-bottom: 25px;
  }

  &__item {
    width: 64px;
    height: 115px;
    margin-right: 20px;
    padding-top: 5px;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12px;
  }

  &__img {
    width: 75px;
    // margin-bottom: 10px;
  }
}

.list__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  align-items: flex-start;
  // height: auto;
  margin: 0 -5px;

  min-height: 400px;
}

.list__item {
  flex: 0 0 50%;
  padding: 0 5px;
  max-width: 50%;
  height: inherit;
}
@media (min-width: 500px) {
  .list__item {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
}
@media (min-width: 768px) {
  .list__item {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
