.category {
  &__list {
    display: flex;
    padding-left: 4px;
  }

  &__item {
    width: 64px;
    height: 115px;
    margin-right: 20px;
    padding-top: 5px;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &__img {
    width: 75px;
    // margin-bottom: 10px;
  }
}
