<div class="category">
  <div class="container">
    <h2 class="title">Category</h2>
    <div class="category__list font-cl-sec-1 siema2">
    </div>
    <h2 class="title list__name"></h2>
    include ../../partials/miniCard_mixin/index.pug
    div(class='list__items')
  </div>
</div>