<div class="category">
  <div class="container">
    <h2 class="title">Category</h2>
    <div class="category__list font-cl-sec-1 siema2">
    </div>
    <h2 class="title list__name"></h2>
    include ../../partials/miniCard_mixin/index.pug
    div(class='list__items')
      for elem in [1,2,3,4,5,6,7,8,9,10,11,12]
        div(class="list__item")
          +minicard(elem)


 
  </div>
</div>