<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./../css/main.css")
    title MealSinglePage
  body
    header
      .container
        h1 Meal Finder
        include ./../../modules/search-box/index.pug
    .sp
      .title
      .sp__img
        img(src='',alt='...')
      .title Category :
      .sp__links
        span.sp__link#sp__category
      .title Area :
      .sp__links
        span.sp__link#sp__area
      .title Ingredient :
      .sp__links#ingredients

      .title Instructions :
        p#Instructions
          
    script(src="../js/main.js")
    script(src="../js/modules/singlepage.js")