<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./../css/main.css")
    title MealSinglePage
  body
    header
      .container
        h1 Meal Finder
        include ./../../modules/search-box/index.pug
    .sp
      .title Spicy Arrabiata Penne
      .sp__img
        img(src='./../assets/images/spicy.jpg',alt='...')
      .title Category :
      .sp__links
        span.sp__link Vegetarian
      .title Area :
      .sp__links
        span.sp__link Italiano
      .title Ingredient :
      .sp__links
        span.sp__link penne rigate
        span.sp__link olive oil
        span.sp__link red chile flakes
        span.sp__link chopped tomatoes
        span.sp__link garlic
        span.sp__link basil
        span.sp__link italian seasoning
      .title Instructions :
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      