//--------colors------------

$colors: (
  cl-primary: #ffd53c,
  cl-sec-1: #6c6c6c,
  cl-sec-2: #8c8c8c,
  cl-sec-3: #f2f2f2,
  cl-sec-4: #fff,
  cl-sec-5: #222,
);

//-------------Set the color for a property with rgba()--------------
@mixin color_set($property_name, $cl, $alpha) {
  #{$property_name}: rgba(red($cl), green($cl), blue($cl), $alpha);
}
//or use adjust-color() Built-In function
//adjust-color($color: #000000, $red: 1, $green: 2, $blue: 3,
//  $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: 1.0)

//-------------Colors-------------
@mixin create-color-class($name, $propName, $color_list) {
  @each $key, $val in $color_list {
    .#{$name}-#{$key} {
      #{$propName}: $val;
    }
  }
}
//--------create classes for bakground color---
@include create-color-class(bg, background-color, $colors);
//---------create classes for color property---
@include create-color-class(font, color, $colors);
//----------fill the svgs ---------------------
@include create-color-class(fill, fill, $colors);
